/* .sassyPets {
   image src="https://github.com/Maripia12/portfolio-demo/blob/main/assets/images/project-screenshot.png?raw=true";
    
} */

.project1 {
   border: 5px solid purple;
   
}


.project2 {
    border: 5px solid purple;
}


.note-taker {
    border: 5px solid purple;
}

.workout-tracker{
   border: 5px solid purple;
}

.budget-tracker{
   border: 5px solid purple;
}

/* .flex-item {
 
  min-height: 150px;
  max-height: 150px;
  flex-basis: calc(50% - 1em);
  display: flex;
  align-items: flex-end;
  padding: 0 0 20px 0;
  margin: 0.5em;
  text-decoration: none;
  font-size: 0.9rem;
  
   

 
}



.flex-item:first-child {
    min-height: 400px;
    flex-basis: 100%;
    border: 5px solid #555;
}
  




.flex-item:nth-child(2){
    min-height: 270px;
    max-width: 48%;
    flex-basis: 50%;
    border: 5px solid #555;
     
     
}
    


.flex-item:nth-child(3){
    min-height: 270px;
    max-width: 48%;
    flex-shrink: 2;
    flex-basis: 50%;
    border: 5px solid #555;
     
}


.flex-item:nth-child(4){
    min-height: 270px;
    max-width: 48%;
    flex-shrink: 2;
    flex-basis: 50%;
    border: 5px solid #555;
     
}

.flex-item:nth-child(5){
    min-height: 270px;
    max-width: 48%;
    flex-shrink: 2;
    flex-basis: 50%;
    border: 5px solid #555;
     
} */

/* h3 {
   background-color: tan;
} */