h2 {
    text-decoration: underline;
}

.front {
    font-size: 20px;
    background-color: rgb(238, 231, 206);

}

.back {
    font-size: 20px;
    background-color: rgb(238, 231, 206);

}

.download a {
    color: #dd3b12;

}

a:hover {
    color: hsl(80, 73%, 44%);
}